{% extends 'base.html' %}

{% block title %}
	Kanzlei {{ kanzlei.name }}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row" style="margin-top:50px;">
	  	<div class="col-md-10 col-md-offset-1">
	  		<ol class="breadcrumb" style="background-color:white;padding-left:0px;">
			  <li><a href="{% url 'kanzlei:kanzlei' kanzlei_id=kanzlei.id %}">Kanzlei</a></li>
			  <li><a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}">User Management</a></li>
			</ol>
	  	</div>
	</div>
	<div class="row" style="margin-top:50px;margin-bottom:50px;">
		<div class="col-md-10 col-md-offset-1">
			<h2>Kanzleimitarbeiter</h2>
		</div>
  		<div class="col-md-10 col-md-offset-1" style="margin-top:30px;">
  				<table class="table table-hover" id="table-users">
					<thead>
      					<tr>
      						<th>Nachname<a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=l_name&reverse=false#table-users"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></a><a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=l_name&reverse=true#table-users"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></a></th>
        					<th>Vorname<a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=f_name&reverse=false#table-users"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></a><a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=f_name&reverse=true#table-users"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></a></th>
        					<th>Position<a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=position&reverse=false#table-users"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></a><a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=type&reverse=true#table-users"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></a></th>
        					<th>Rolle <a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=role&reverse=false#table-users"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></a><a href="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}?sort=created&reverse=true#table-users"></span><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></a></th>
        					<th>Mitarbeiter Bearbeiten</th>
        					<th>Mitarbeiter Löschen</th>
      					</tr>
    				</thead>
    				<tbody>
    					{% for member in members %}
    						<tr>
    							<td>{{ member.user.last_name }}</td>
        						<td>{{ member.user.first_name }}</td>
        						<td>{{ member.position }}</td>
        						<td>{{ member.get_role_display }}</td>
        						<td><a href="{% url 'kanzlei:kanzlei_user_detail' kanzlei_id=kanzlei.id user_id=member.user.id %}" class="btn btn-info" role="button"><span class='glyphicon glyphicon-pencil' aria-hidden='false'></span></a>
        						<td>{% if not user.id == member.user.id %}<form action="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}#table-users" method="post">{% csrf_token %}<input type="hidden" name="remove" value="{{ member.user.id }}"><button type='submit' class='btn btn-danger' onclick="delete_user(event);"><span class='glyphicon glyphicon-remove' aria-hidden='false'></span></button></form>{% else %}Sie können sich selbst nicht löschen.{% endif %}</td>
      						</tr>
						{% endfor %}
    				</tbody>
  				</table>
  		</div>
	</div>
	<div class="row" style="margin-top:50px;">
  		<div class="col-md-10 col-md-offset-1">
  			<h3 id="erstellen">Mitarbeiter hinzufügen</h3>
  			{% if e %}
  			<div class="alert alert-danger" role="alert" style="max-width:500px;">
  				{% if e == 'email' %}Diese E-Mail Adresse wird bereits verwendet{% endif %}
			</div>
			{% endif %}
  			<form action="{% url 'kanzlei:kanzlei_user' kanzlei_id=kanzlei.id %}" method="post" style="margin-top:30px;">
  				{% csrf_token %}
  				<div class="form-group">
  					<label>Vorname:</label>
  					<input type="text" class="form-control" id="vorname" name="vorname" value="{% if vorname %}{{ vorname }}{% endif %}" style="max-width:500px;">
				</div>
				<div class="form-group">
  					<label>Nachname:</label>
  					<input type="text" class="form-control" id="nachname" name="nachname" value="{% if nachname %}{{ nachname }}{% endif %}" style="max-width:500px;">
				</div> 
				<div class="form-group">
  					<label>Email:</label>
  					<input type="text" class="form-control" id="email" name="email" value="{% if email %}{{ email }}{% endif %}" style="max-width:500px;">
				</div> 
				<div class="form-group">
  					<label>Position:</label>
  					<input type="text" class="form-control" id="position" name="position" value="{% if position %}{{ position }}{% endif %}" style="max-width:500px;">
				</div> 
				<div class="form-group">
					<label>Rolle:</label>
				 	<select class="form-control" id="role" name="role" value="{% if role %}{{ role }}{% endif %}" style="max-width:500px;">
				    	<option value="admin">Kanzlei Admin</option>
				    	<option value="manager">Projektmanager</option>
				    	<option value="mitarbeiter">Projektmitarbeiter</option>
				 	</select>
				</div> 
				<div class="form-group">
  					<label>Passwort:</label>
  					<input type="password" class="form-control" id="pw1" name="pw1" style="max-width:500px;">
				</div> 
				<div class="form-group">
  					<label>Passwort wiederholen:</label>
  					<input type="password" class="form-control" id="pw2" name="pw2" style="max-width:500px;">
				</div>
				<button type="submit" onclick="check_entries(event)" class="btn btn-primary" style="margin-top:30px;margin-bottom:30px;">User erstellen</button>
  			</form>
  		</div>
	</div>
	<script>
  	function delete_user(e) {
  		if(confirm("Wollen Sie den User unwiderruflich löschen?")){
  		}
  		else{
  			e.preventDefault();
  		}
  	}
	function check_entries(e){
		vorname = document.getElementById('vorname');
		nachname = document.getElementById('nachname');
		email = document.getElementById('email');
		position = document.getElementById('position');
		role = document.getElementById('role');
		pw1 = document.getElementById('pw1');
		pw2 = document.getElementById('pw2');
		
		if( typeof vorname.value == 'undefined' || typeof nachname.value == 'undefined' || typeof email.value == 'undefined' || typeof position.value == 'undefined' || typeof role.value == 'undefined' || typeof pw1.value == 'undefined' || typeof pw2.value == 'undefined' || vorname.value == '' || nachname.value == '' || email.value == '' || position.value == '' || role.value == '' || pw1.value == '' || pw2.value == ''){
			alert('Der User wird nur erstellt wenn das ganze Formular ausgefüllt wurde.');
			e.preventDefault();
		}
		
		else if(pw1.value != pw2.value){
			alert('Die Passwörter stimmen nicht überein.');
			e.preventDefault();
		}
	}
  	</script>
</div>
{% endblock %}